body {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

/*Index Page*/

#pageTitle {
	text-align: center;
}

#gameName {
	height: 30px;
	font-size: 15px;
}

/*Board Page*/

table td {
	padding: 5px;
	margin: 5px;
	border: 1px solid black;
}

.winner {
	background-color: #FF83FA;
	display: inline-block;
}

.gameLink {
	display: block;
}

.tile {
	cursor: pointer;
	width: 50px;
	height: 50px;
}

.playerPhoto {
	margin: 5px;
}

.join {
	margin-top: -40px;
}

.player2 {
	margin-top:-40px;
}
